* {
	margin:0;
}
.header {
	height:80px;
	background:dodgerblue;
}
.navbar {background:skyblue; height:30px;}
.navbar a {
	font-size:20px;
	color:black;
	text-decoration:none;
	margin-left:15px;
	
	line-height:30px;
	padding:4px 12px;
}
.container {
	background:#f1f1f1;
}
.page1{min-height:600px; } 
.page2{min-height:600px; }  
.page3{min-height:600px; }  
.page4 {min-height:600px;}  